  :root {
            --orange: #D78C69;
            --petch: #FFD6B6;
            --blue: #4F7290;
            --linear-bg-orange: linear-gradient(270deg, #D8775D, #FF8B32);
            --line-primary: #FF8B32;
            --line-secondary: #FFD6B6;
            --hover-bg: #edfbfe;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
        }
        
        body {
            font-family: 'PT Sans';
            font-size: 18px;
            color: #000000;
            overflow-x: hidden;
        }
        button:focus{
            outline: none;
        }
        
        /* Custom Font */
        @font-face {
            font-family: "BERNIERDISTRESSED-REGULAR";
            src: url("./fonts/BERNIERDISTRESSED-REGULAR.OTF");
            font-weight: 400;
            font-style: normal;
        }
        
        .title, .title_m, .title_s, .h2-title, .tariff-header {
            font-family: "BERNIERDISTRESSED-REGULAR";
        }
        
        .title {
            font-size: 104px;
            font-weight: 500;
            margin-bottom: 20px;
            line-height: 70px;
            color: var(--orange);
            text-transform: uppercase;
        }
        
        .title_m {
            font-size: 84px;
            display: block;
            text-transform: lowercase;
            font-weight: 400;
            line-height: 70px;
            color: var(--orange);
            text-transform: uppercase;
        }
        
        .title_s {
            font-size: 48px;
            line-height: 41px;
            color: var(--blue);
            text-transform: lowercase;
            white-space: nowrap;
        }
        
        .h2-title {
            color: var(--orange);
            font-size: 82px;
            line-height: 74px;
            margin-bottom: 50px;
        }
        
        /* Header/Navigation */
        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            background: white;
        }
        
        .logo {
            width: 65px;
            height: 65px;
            margin-right: 60px;
        }
        
        .nav-link {
            color: #000 !important;
            font-size: 18px;
            padding: 0.5rem 1rem !important;
            transition: color 0.3s;
        }
        
        .nav-link:hover {
            color: var(--orange) !important;
        }
        
        .social-icons a {
            color: #4F7290;
            font-size: 24px;
            margin-left: 17px;
            transition: color 0.3s;
        }
        
        .social-icons a:hover {
            color: var(--orange);
        }
        
        /* Banner Section */
        .banner-section {
            background: url('assets/bg head.jpg') no-repeat center center;
            background-size: cover;
            padding-top: 100px;
            padding-bottom: 100px;
            min-height: 820px;
            position: relative;
        }
        
        .banner-content {
            padding-top: 50px;
            z-index: 3;
        }
        
        .banner-content h1 {
            margin-bottom: 50px;
        }
        
        .banner-content ul {
            margin-bottom: 50px;
        }
        
        .banner-content ul li {
            position: relative;
            font-size: 22px;
            margin-bottom: 10px;
            padding-left: 22px;
        }
        
        .banner-content ul li:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.7em;
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #FFA245;
            transform: translateY(-50%);
        }
        
        .banner-content b {
            color: var(--blue);
        }
        
        .btn-orange {
            background: var(--linear-bg-orange);
            border-radius: 6px;
            font-size: 18px;
            color: white;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 2.5px;
            border: 0;
            padding: 21px 48px;
            transition: transform 0.3s;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            text-align: center;
        }
        
        .btn-orange:hover {
            color: white;
            transform: translateY(-2px);
            text-decoration: none;
        }
        
        .banner-images {
            position: relative;
        }
        
        .main-image {
            width: 100%;
            max-width: 620px;
        }
        
        .brush-image {
            position: absolute;
            bottom: 0;
            left: 300px;
            width: 100%;
            max-width: 620px;
            z-index: 1;
        }
        
        .row.banner_cards {
            position: absolute;
            left: 0;
            width: 100%;
            gap: 30px;
            flex-wrap: nowrap;
            margin: 0;
            justify-content: center;
            z-index: 3;
        }

        .banner-content .title{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .banner_cards .el{
            display: inline-block;
            max-width:255px;
            padding-block: 40px;
            text-align: center;
            background: url("assets/d.png");
            border: 6px solid var(--line-secondary);
            height: fit-content;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            overflow: hidden;
        }
        .banner_cards .text_wrapper{
            max-width: 163px;
            margin: auto;
        }
        .banner_cards .text_wrapper span,
        .banner_cards .text_wrapper b{
            font-size: 21px;
        }
        .banner_cards .text_wrapper span{
            font-weight: 500;
        }
        b{
            color: var(--blue);
        }

        /* Dropdown для материалов */
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-toggle::after{
            content: none;
        }
        
        @keyframes dropdownOpen {
            0% {
                opacity: 0;
                visibility: hidden;
                transform: translateX(-50%) scale(0.8);
            }
            1% {
                visibility: visible;
            }
            100% {
                opacity: 1;
                visibility: visible;
                transform: translateX(-50%) scale(1);
            }
        }

        @keyframes dropdownClose {
            0% {
                opacity: 1;
                visibility: visible;
                transform: translateX(-50%) scale(1);
            }
            99% {
                opacity: 0;
                visibility: visible;
            }
            100% {
                opacity: 0;
                visibility: hidden;
                transform: translateX(-50%) scale(0.8);
            }
        }

        .dropdown-menu {
            position: absolute;
            top: -22px;
            left: 100%;
            transform: translateX(-50%) scale(0.8);
            z-index: 1000;
            justify-content: start;
            padding: 90px 20px 20px 20px;
            border: 1px solid #4F7290;
            border-radius: 20px;
            background: #fff;
            width: fit-content;
            gap: 20px;
            min-width: 400px;
            visibility: hidden;
            opacity: 0;
            transform-origin: top center;
            animation: dropdownClose 0.3s ease forwards;
        }

        .dropdown-menu.show {
            display: flex;
            animation: dropdownOpen 0.3s ease forwards;
        }
        
        .dropdown-menu ul {
            padding-left: 0;
            margin-bottom: 0;
        }
        
        .dropdown-menu li {
            font-size: 16px;
            margin-bottom: 8px;
            padding-left: 15px;
            position: relative;
            white-space: nowrap;
        }
        
        .dropdown-menu li:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.7em;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: var(--orange);
            transform: translateY(-50%);
        }
        
        /* Course For Section */
        .course-for-section {
            padding: 155px 0 65px;
            position: relative;
        }
        
        .course-for-content {
            margin-top: 100px;
            border: 6px solid var(--line-secondary);
            padding: 80px 60px;
            background: url('assets/bg.jpg') no-repeat center center;
            background-size: cover;
            z-index: 1;
            position: relative;
        }
        
        .course-for-content p {
            font-size: 22px;
            max-width: 545px;
            line-height: normal;
        }
        
        .course-for-image {
            position: absolute;
            right: 0;
            width: 500px;
            border: 6px solid var(--line-secondary);
            z-index: 2;
            overflow: hidden;
        }
        
        .course-for-image img {
            width: 100%;
            height: auto;
            display: block;
        }
        
        /* Materials Section */
        .materials-section {
            padding: 100px 0;
        }
        
        .material-item {
            text-align: center;
            padding: 20px 0;
            position: relative;
        }
        
        .material-item img {
            width: 95px;
            height: 95px;
            margin-bottom: 20px;
        }
        
        .material-item h3 {
            color: var(--blue);
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        .material-item p {
            font-size: 21px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        
        .btn-trigger {
            cursor: pointer;
            position: relative;
            z-index: 1112;
            font-size: 16px;
            font-weight: 700;
            color: #4F7290;
            border: 1px solid #4F7290;
            text-transform: uppercase;
            border-radius: 50px;
            width: 180px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            transition: all 0.3s ease;
            background: white;
        }
        
        .btn-trigger:hover {
            background-color: var(--hover-bg);
        }
        
        .btn-trigger.active {
            background-color: var(--hover-bg);
            border-color: var(--orange);
            color: var(--orange);
        }
        
        .materials-divider {
            border-bottom: 6px solid var(--line-secondary);
            margin: 30px 0;
        }
        
        .materials-note {
            font-size: 21px;
            text-align: center;
            margin: 20px 0 0;
        }
        
        /* Tariffs Section */
        .tariffs-section {
            background: url('assets/bg tarif.jpg') no-repeat center center;
            background-size: cover;
            padding: 100px 0;
        }
        
        .tariff-card {
            background: white;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 30px;
            height: 100%;
            display: flex;
            height: fit-content;
            flex-direction: column;
        }
        
        .tariff-header {
            background: #4F7290;
            color: white;
            padding: 26px 0;
            font-size: 35px;
            text-align: center;
            text-transform: uppercase;
        }
        
        .tariff-body {
            padding: 30px 20px;
        }
        
        .tariff-gallery {
            margin-bottom: 30px;
        }
        
        .gallery-1 img {
            width: 100%;
            height: 336px;
            object-fit: cover;
        }
        
        .gallery-2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;
            margin-bottom: 30px;
        }
        
        .gallery-2 img {
            width: 100%;
            height: 166px;
            object-fit: cover;
        }
        
        .gallery-3 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4px;
            margin-bottom: 30px;
        }
        
        .gallery-3 img {
            width: 100%;
            height: 166px;
            object-fit: cover;
        }
        
        .tariff-features {
            margin-bottom: 30px;
        }
        
        .tariff-features li {
            position: relative;
            padding-left: 22px;
            margin-bottom: 20px;
        }
        
        .tariff-features li:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.7em;
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #FFA245;
            transform: translateY(-50%);
        }
        
        .bonus-item {
            display: inline-block;
        }
        
        .bonus-item svg {
            width: 24px;
            height: 24px;
            margin-right: 4px;
            vertical-align: middle;
        }
        
        .tariff-footer {
            padding: 0 20px 50px;
            text-align: center;
        }
        
        .old-price {
            font-size: 30px;
            text-decoration: line-through;
            text-decoration-thickness: 1px;
            text-decoration-color: var(--blue);
            color: var(--blue);
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        .current-price {
            font-size: 50px;
            color: var(--blue);
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        .currency-selector {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 40px;
        }
        
        .currency-btn {
            cursor: pointer;
            width: 35px;
            height: 37px;
            font-size: 28px;
            line-height: 36px;
            text-align: center;
            color: white;
            background: var(--petch);
            border-radius: 2px;
            border: none;
            transition: background-color 0.3s;
        }
        
        .currency-btn.active,
        .currency-btn:hover {
            background: var(--orange);
        }
        
        /* FAQ Section */
        .faq-section {
            padding: 100px 0;
            max-width: 820px;
            margin: 0 auto;
        }
        
        .faq-item {
            border: 6px solid var(--line-secondary);
            margin-bottom: 30px;
            padding: 35px 70px;
            position: relative;
        }
        
        .faq-question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            color: var(--blue);
            font-size: 21px;
            transition: color 0.3s;
        }
        
        .faq-question:hover {
            color: var(--orange);
        }
        
        .faq-answer {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease;
            font-size: 20px;
        }
        
        .faq-answer.show {
            max-height: 500px;
            margin-top: 20px;
        }
        
        .faq-arrow {
            transition: transform 0.5s;
            min-width: 16px;
        }
        
        .faq-arrow.rotated {
            transform: rotate(90deg);
        }
        
        @media (max-width: 1200px) {
            .title {
                font-size: 84px;
            }
            
            .title_m {
                font-size: 64px;
            }
            
            .h2-title {
                font-size: 62px;
            }
        }
        
        @media (max-width: 992px) {
            .title {
                font-size: 64px;
                line-height: 55px;
            }
            
            .title_m {
                font-size: 44px;
                line-height: 40px;
            }
            
            .title_s {
                font-size: 32px;
            }
            
            .h2-title {
                font-size: 48px;
                line-height: 45px;
            }
            
            .course-for-image {
                position: relative;
                width: 100%;
                top: 0;
                margin-top: 30px;
            }
            
            .faq-item {
                padding: 25px 30px;
            }
            
            .dropdown-menu {
                min-width: 300px;
                left: 50% !important;
                transform: translateX(-50%) scale(0.95);
            }
            
            .dropdown-menu.show {
                transform: translateX(-50%) scale(1);
            }
        }
        
        @media (max-width: 768px) {
            .title {
                font-size: 48px;
                line-height: 45px;
            }
            
            .title_m {
                font-size: 32px;
                line-height: 30px;
            }
            
            .title_s {
                font-size: 24px;
            }
            
            .h2-title {
                font-size: 36px;
                line-height: 34px;
            }
            
            .banner-content ul li {
                font-size: 18px;
            }
            
            .course-for-content {
                padding: 40px 30px;
            }
            
            .course-for-content p {
                font-size: 18px;
            }
            
            .row.banner_cards {
                position: relative;
                margin-top: 40px;
                gap: 15px;
            }
            
            .dropdown-menu {
                min-width: 250px;
                left: 50% !important;
                transform: translateX(-50%) scale(0.95);
                padding: 70px 15px 15px 15px;
            }
            
            .dropdown-menu.show {
                transform: translateX(-50%) scale(1);
            }
        }